<md-toolbar color="primary" fx-layout-align="space-between">
    <span class="header-title">{{ isNewItem ? 'Ceate new item' : 'Edit item'}}</span>
    <button md-icon-button (click)="close()">
        <md-icon>close</md-icon>
    </button>
</md-toolbar>
<div class="content">
    <form novalidate [formGroup]="toDoForm" (ngSubmit)="createItem(toDoForm.value)">
        <md-input class="full-input" placeholder="Description" formControlName="description"></md-input>
        <span class="error" *ngIf="toDoForm.controls.description.hasError('required') && toDoForm.controls.description.touched">Description field is required</span>
        <md-input class="full-input" type="date" formControlName="date"></md-input>
        <span class="error" *ngIf="toDoForm.controls.date.hasError('required') && toDoForm.controls.date.touched">Description field is required</span>
        <md-input class="full-input" type="time" formControlName="time"></md-input>
        <span class="error" *ngIf="toDoForm.controls.time.hasError('required') && toDoForm.controls.time.touched">Description field is required</span>
        <button type="submit" class="create-button" md-raised-button color="primary" (click)="createItem()" [disabled]="!toDoForm.valid">{{ isNewItem ? 'CREATE' : 'UPDATE'}}</button>
    </form>
</div>
