<div class="day-view-nav">
    <button md-button (click)="decrementDate()">        
        < {{prevDateString}}
    </button>
    <button md-button (click)="incrementDate()">
        {{nextDateString}} >        
    </button>
</div>
<div class="separator">
</div>
<div *ngIf="!(toDoList | async)?.length" class="no-items">No items available for this day</div>

<ul>
    <li class="item" *ngFor="let todo of toDoList | async; let i=index">
        <span class="item-index">{{i + 1}}.</span>
        <md-checkbox [checked]="todo.completed" (change)="handleCheck(todo)">
            {{todo.description}}
        </md-checkbox>
        <span class="item-due">{{ todo.dueDate | date:'hh:mm'}}</span>
    </li>
</ul>
