.day-view-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.item {
	margin-bottom: 10px;
}

.item-index {
	float: left;
	margin-right: 15px; 	
	padding-top: 4px;
}

.item-due {
	float: right;
	padding-top: 3px;
}

.no-items {
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
}
